.frontPage {
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
  border-radius: 4px;
  padding: 20px;
}

.frontPage__array {
  display: flex;
  /* position: absolute; */
  /* left: 100px; */
  /* bottom: 10vh; */
  /* width: 70%; */
  justify-content: space-evenly;
  background-color: rgb(249, 249, 249);
  max-width: 100vw;
  align-items: baseline;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
  /* scale: 1 0.5; */
}
.frontPage__arrayaux {
  display: flex;
  /* position: absolute; */
  /* left: 100px; */
  /* bottom: 10vh; */
  /* width: 70%; */
  justify-content: space-evenly;
  max-width: 100vw;
  align-items: baseline;
  margin-bottom: 30px;
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px;
  padding: 20px;
  /* scale: 1 0.5; */
}

.array__bar {
  width: 100%;
  background-color: rgb(57, 200, 195);
  /* display: inline-block; */
  margin: 0 0.4px;
}
.array__baraux {
  width: 100%;
  background-color: rgba(57, 200, 195, 0);
  /* display: inline-block; */
  margin: 0 0.4px;
}

.frontPage__SortingButtons {
  position: relative;
  bottom: 0vh;
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
  width: 100%;
}

.frontPage__ArrayButtons .MuiIconButton-root {
  /* background-color: white; */
  color: rgb(255, 87, 87);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
}

.frontPage__ArrayButtons {
  position: relative;
  bottom: 0vh;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.ArrayButtons__Slider {
  max-width: 30%;
  /* color: rgb(57, 200, 195); */
}
.frontPage__ArrayButtons .Slider-root {
  /* background-color: white; */
  color: rgb(57, 200, 195);
}

.frontPage__SortingButtons .MuiButton-root {
  /* background-color: white; */
  color: rgb(57, 200, 195);
  /* size: small; */
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
  margin: 0 5px;
}

.frontPage__ArrayButtons .MuiButton-root {
  /* background-color: white; */
  color: rgb(57, 200, 195);
}
